body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo {
  font-weight: 900;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  text-align: right;
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
  padding-block: 100px;
  background-image: url(./home-bg.jpg);
  background-size: cover;
  background-position: bottom -10%;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 60px;
  margin: 0;
}

header p {
  margin: 0;
}

.articles {
  max-width: 500px;
  margin-inline: auto;
}

button {
  display: block;
  margin-left: auto;
  background-color: #0085a1;
  border: none;
  padding: 12px 18px;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

footer {
  margin-top: 15px;
  text-align: center;
  border-top: 0.5px solid grey;
}

.icons {
  display: flex;
  width: fit-content;
  margin-inline: auto;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: brown;
  margin: 8px;
}
